* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  --scrollbarBG: #CFD8DC;
  --thumbBG: #009F3C;
}
body::-webkit-scrollbar {
  width: 11px;
}
body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

body {
  background-color: #009F3C;

}

h1 {
  color: white;
}

p {
  color: #fff
}

.borda {
  border: 1px solid red;
}

.button-wpp {
  position: fixed;
  left: 85%;
  top: 75%;
  z-index: 99;
}

/* ===========HERO============ */

.container-banner{
  display: flex;
  background: #009F3C;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 110vh;
  justify-content: space-around;
}

.container-card {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.img-hero {
  min-height: 120vh;
}

/* ------------CARD---------- */

.card {
  width: 480px;
  height: 700px;
  padding: 30px 35px;
  margin: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-color: #ccc;
  border-radius: 40px;
  box-shadow: 0px 10px 40px #00000056;
}

.card > h1 {
  color: #454545;
  text-transform: uppercase;
}

.card > p {
  color: #454545;
  font-weight: bold;
}

.button-g {
  background-color: #009F3C;
  padding: 15px 50px;
  border-radius: 50px;
  margin: 10px;
  cursor: pointer;
}

.button-text {
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
}

.input {
  margin: 12px;
}

input {
  background: #b4b4b4;
  border: 0;
  color: black;
  padding: 15px;
  width: 340px;
  border-radius: 40px;
}

/* ==========Section Banner=========== */

.banner-azul {
  background-color: #0167CE;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.banner-azul > p {
  font-size: 30px;
  color: white;
}

/* =================== Section 2 ============== */

.section-2 {
  background: url(./images/banner-1.png);
  background-repeat: no-repeat;
  background-size: cover;

  min-height: 115vh;

  display: flex;
  justify-content: flex-end;
  align-items: center;

}

.img-mobile {
  display: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  margin: 50px
}

.img-titulo {
  display: flex;
}

.img-titulo > img {
  width: 80px;
  height: 80px;
}

.text-green {
  font-size: 45px;
  text-transform: uppercase;
  font-weight: bold;

  padding: 0px 10px 0px 10px;

  background-color: #009F3C;
}

.text-blue {
  background-color: #0167CE;

  font-size: 42px;
  color: white;

  margin-top: 20px;
  padding: 0px 10px 0px 10px;
}

.container > p{
  font-size: 20px;

  width: 40%;
  padding: 20px;
}

.button {
  width: 400px;
  margin-top: 20px;

  background-color: #009F3C;

  border-radius: 12px;
  padding: 5px 10px 5px 10px;
  text-align: center;


  position: relative;
  right: 210px;
  bottom: 33px;
}

.button-2 {
  width: 400px;
  margin-top: 20px;

  background-color: #009F3C;

  border-radius: 12px;
  padding: 5px 10px 5px 10px;
  text-align: center;
}

.button-2 > h1 {
  text-transform: uppercase;
}

.button-blue {
  background-color: #0167CE;
  margin-bottom: 20px;
  display: none;
}

.button-blue > h1 {
  font-size: 30px;
  text-transform: uppercase;
}

.button > h1 {
  font-size: 30px;
  text-transform: uppercase;
}


/* =================== Section 3 ============== */

.section-3 {
  background: url(./images/banner-2.png);
  background-repeat: no-repeat;
  background-size: cover;

  min-height: 115vh;
}

.container-2 {
  display: flex;
  width: 500px;
  margin-left: 250px;
  padding-top: 25px;
  align-items: flex-start;
}

.sub-text {
  background-color: #009F3C;
  margin-top: 5px;
  padding: 0px 5px 0px 5px;
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
}

/* =================== Section 4 ============== */
.section-4 {
  background: url(./images/banner-3.png);
  background-repeat: no-repeat;
  background-size: cover;

  min-height: 115vh;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
}

.container-3 {
  display: flex;
  width: 600px;

  align-items: flex-start;
  margin-bottom: 50px
}

.container-3 > img {
  width: 60px;
}

/* =================== Section 5 ============== */
.section-5 {
  background: url(./images/banner-4.png);
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: space-between;

  min-height: 115vh;
  
}

.container-mobile{
  display: none;
}

.container-texto {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 120px;
}

.container-texto > p {
  font-size:30px;
  font-weight: bold;
}

.container-4 {
  margin-bottom: 35%;
  margin-left: 6%;
}

.container-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 20px;
}

/* =================== Section 6 ============== */
.section-6 {
  background: #0167CE;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: space-around;

  min-height: 115vh;
}

/* =================== Section 7 ============== */

.section-7 {
  background: url('./images/banner-5.png');
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  min-height: 115vh;
}

.sec7-title {
  font-size: 39px;
}
.container-6{
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  align-items: flex-start;
}

.imagem-btn {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
}

.card-endereço{
  border: 1px solid white;
  padding:25px;
  border-radius: 20px;
  margin-top: 10px;
}

.card-endereço > p{
  color: white;
}

.container-column{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px;
}

.container-column > h1 {
  font-size: 40px; 
  text-align: center;
}

.container-column > p {
  font-size: 25px;
}


/* -------FOOTER--------- */

.footer {
  height: 65vh;
  background-color: #555;
  padding: 5%;
}

.footer > p {
  color: white;
  display: flex;
  font-size: 12px;
  font-weight: 100;
}

.footer-container {
  margin-top: 40px;
  
}

.footer-container > p {
  color: #FFF;
}

.footer-text {
  display: flex;
  justify-content: space-between;
}

.footer-text > p {
  color: white;
  font-size: 20px;
}

/* RESPONSIVO */

@media (max-width: 960px) {

  .button-wpp{
    position: fixed;
    left: 71%;
    top: 74%;
    z-index: 99;
  }

  .container-banner{
    display: block;
  }

   .container-card{
    flex-wrap: wrap;
    justify-content: center;
   }

  .card{
    margin: 0px;
    padding: 32px 4px;
    width: 374px;
    height: 525px;
  }

   .img-hero{
    width: 100%;
    min-height: auto;
   }

  .banner-azul {
    min-width: 99vh;
    display: none;
  }


  .button-blue {
    background-color: #0167CE;
    margin-bottom: 20px;
    display: block;
  }


  .banner-azul > p {
    font-size: 20px;
  }

  .button-2 {
    display: none;
  }

  .button-green{
    display: block;
    width: auto;
    font-size: 20px;
    margin-bottom: 20px;
  }

  .section-2 {
    background: #0167CE;
    justify-content: center;
    margin-top: 50px;
  }
  .container {
    align-items: center;
    margin: 0px;
  }

  .img-titulo{
    justify-content: center;
  }

  .img-titulo > img {
    width: 9%;
    height: 9%;
  }

  .img-titulo > h1 {
    font-size: 20px;
  }

  .text-blue {
    font-size: 20px;
  }

  .img-mobile {
    border-radius: 20px;
    width: 356px;
    margin-bottom: 10px;
    display: block;
    margin-top: 40px;
  }

  .button {
    width: 331px;

    position: static;

    margin-bottom: 40px;
  }

  .container > p {
    width: 90%;
  }

  .section-3 {
    background: #009F3C;
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .button-blue {
    width: 331px;
  }

  .sub-text {
    font-size: 20px;
  }

  .button-blue {
    display: block;

  }

  .container-2 {
    width: auto;
    margin-left: 0px;
  }
  .section-4 {
    background: #0167CE;
    align-items: center;
    min-height: auto;
  }

  .container-3 {
    display: flex;
    align-items: start;
    margin-bottom: 20px;
    flex-direction: row;
    justify-content: center;
    width: auto;
  }

  .section-5 {
    background: #009F3C;
    align-items: center;
    min-height: auto;
    flex-direction: column;
  }

  .container-mobile{
    display: block;
    margin-bottom: 25px;
  }

  .container-mobile > h1 {
    text-transform: uppercase;
  }

  .container-4{
    display: none;
  }

  .container-texto{
    width: 83%;
    text-align: center;
    margin: 0px;
  }
   
  .container-texto > p {
    font-size: 18px;
  }

  .container-btn > img {
    width: 118px;
  }

  .container-btn{
    justify-content: space-around;
  }

  .section-7 {
    flex-direction: column;
  }

  .sec7-title {
    margin-top: 40px;
    font-size: 31px;
  }

  .img-mobile-2{
    display: none;
  }

  .container-column{
    margin: 0px;
  }

  .container-column > p {
    font-size: 22px;
  }

  .card-endereço{
    margin: 10px;
  }

  .footer{
    padding: 10px;
  }

  .footer > p {
    font-size: 7px;
  }

  .footer-text > p {
    font-size: 11px;
  }
}